* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 13pt;
}

body {
  background-color: #000000;
}
p{
  color: #000;
}
.bg-primary-color {
  background-color: #fff;
}
.bg-secondary-color {
  background-color: #000;
}
.bg-terceary-color {
  background-color: #ffa600;
}
.bg-dark-color {
  background-color: #050505;
}
.primary-color {
  color: #050505;
}
.secondary-color {
  color: #fff;
}
.terceary-color {
  color: #ffa600;
}

.direita{
  text-align: right;
}
/*APPS*/
#boas-vindas{  
  margin-top: 4em;
  margin-bottom: 2em;
}
#boas-vindas a{
  text-decoration: none;
}
.avatar{
  width: 5em;
  border-radius: 20px;
}
.hub {
  width: 100px;   
  padding: 0.6em;
  border-radius: 30px;
  transition: transform 0.3s ease; /* Transição suave para a transformação */
}

.bg-gradiente{
  background-image: linear-gradient(to bottom, #af8b58, #000000, #af8b58);
  transition: transform 0.3s ease; /* Transição suave para a transformação */
  border-radius: 20px;
  margin: 0 1em;
}
.bg-gradiente:hover{
  transform: scale(1.1); /* Aumenta a imagem em 20% */

}
#boas-vindas h2{
  color: #ec7e00;
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 1.2em;
 padding-left: 1em;
}
#boas-vindas h5{
  color: #000;
  font-size: 1em;
  margin-left: 0.5em;
  font-weight: 600;
}

h2{
  color: #ec7e00;
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 0em;
}
.link-hub{
  padding-left: 1em;
  margin-top: 1.3em;
  color: #000;
  font-size: 1.4rem !important;
}
h5{
  text-align: right;
  color: #ff9151;
  font-size: 1em; 
  font-weight: 700;
}
h6{
  color: #000;
  font-size: 1em;
  font-weight: 600;
}
.decidido{
  padding-left: 2em;
  padding-right: 2em;
}
.decidido p{
  color: #fff !important;
}
  .apps{
    background-image: linear-gradient(to bottom, #000000, rgb(134, 134, 134), #000000);
    padding:  20px;
    border: none;
  }
  .img-apps{
    width: 100%;
    padding: 20px;
    transition: transform 0.3s ease; /* Transição suave para a transformação */
  }
  .img-apps:hover{
    transform: scale(1.2); /* Aumenta a imagem em 20% */
  }
  #container-apps{
    background-image: linear-gradient(to bottom, #0131cf, rgb(148, 213, 221), #003cbe);
    border-radius: 20px;
  }
  @media (min-width: 768px) {
    * {
      font-size: 12pt;
    }
    
    .link-hub{
      padding-left: 1em;
      margin-top: 1.4em;
      color: #000;
      font-size: 1.5rem !important;
    }
    #boas-vindas h2{
      color: #ec7e00;
      font-size: 1.2em;
      font-weight: 700;
      margin-left: 0.6em;
    }
    #boas-vindas p{  
      padding-left: 2em;
      font-size: 1em;
     }
  }
@media(max-width:768px){  
  .avatar{
    width: 6em;
    border-radius: 20px;
    margin-left: 1em;
  }
  .apps{
    text-align: center;
  }
  .img-apps{
    width: 60%;
    padding: 20px;
    transition: transform 0.3s ease; /* Transição suave para a transformação */
  }
 .link-hub{
      padding: 0;
    }
    #boas-vindas h2{
      margin-left: 0em;
    }
    #boas-vindas p{
      margin-left: 1em;
    }
    
}