* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 13pt;
}

body {
  background-color: #000;
}
.bg-primary-color {
  background-color: #fff;
}
.bg-secondary-color {
  background-color: #000;
}
.bg-terceary-color {
  background-color: #ffa600;
}
.bg-dark-color {
  background-color: #050505;
}
.primary-color {
  color: #050505;
}
.secondary-color {
  color: #fff;
}
.terceary-color {
  color: #ffa600;
}
.info {
  padding: 0.5em 0;
  color: #000;
  font-weight: 700;
}
.info a {
  margin-top: -10pt;
  text-decoration: none;
  color: #fff;
  font-size: 11pt;
}
.info h6 {
  color: #fff;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 5px;
}
.info i{
  font-size: 11pt;
}
.bi-person-circle {
  font-size: 11pt !important;
  color: #ec7e00;
}
.bi-person-circle:hover {
  color: yellow !important;
}
.text-justify {
  text-align: justify;
}

.direita{
  text-align: right;
}
.espaco{
  min-height: 130px;
}
/* Estilo personalizado para ativar dropdown no hover */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* Corrige o deslocamento do menu */
}
.dropdown-menu {
  display: none; /* Garante que o menu dropdown fique oculto inicialmente */
  border: none; /* Remove as bordas */
  box-shadow: none; /* Remove a sombra */
}
.dropdown-item {
  font-weight: 600;
  color: #7a7a7a;
}

.classe {
  color: #ff0000;
}
#social-icons1{
  padding-top: 0.4em;
}
@media(min-width:768px){
  #social-icons1{
    padding-top: 0.8em;
}

}
/*NAVBAR*/
#navbar {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  text-transform: uppercase;
}
#navbar-items li{
  font-size: 11pt;
}
#navbar-items a{
  font-size: 11pt;
}
#navbar .navbar-toggler .bi-list {
  color: #000; /* Defina a cor do ícone para preto */
}

#navbar a:hover {
  color: #ffa600;
}
#navbar a.active {
  color: #ffa600;
}
.navbar-brand {
  display: flex;
}
.navbar-brand img {
  width: 60px;
}
.navbar-brand span {
  font-weight: 700;
  font-size: 1.2em;
  margin-left: 0.5em;
  margin-top: 1em;
}
#navbar-items .navbar-nav {
  display: flex;
  justify-content: right;
  width: 100%;
}
#navbar-items .nav-item {
  margin: 0 1em;
  font-weight: 700;
}
